[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinyHierarchy"]
	path = shinyHierarchy
	url = https://github.com/cran/shinyHierarchy
